<ion-header>
  <ion-navbar color="brand">
	<button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Edit {{product.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="form-content" *ngIf="product">
  <form class="form" [formGroup]="product_edit_form"  (ngSubmit)="updateProduct(product_edit_form.value)">
		
	<ion-list>
	
		<ion-item>
		  <ion-label color="primary">Name :</ion-label>
		  <ion-input type="text" formControlName="productname" [(ngModel)]="productname"></ion-input>
		</ion-item>
		
		<ion-item>
		  <ion-label color="primary">Description :</ion-label>
		  <ion-textarea type="text" formControlName="productdescription" [(ngModel)]="productdescription"></ion-textarea>
		</ion-item>
		
		<ion-item>
		  <ion-label color="primary">Price :</ion-label>
		  <ion-input type="text" formControlName="productprice" [(ngModel)]="productprice"></ion-input>
		</ion-item>
		
		<ion-item>
		  <ion-label color="primary">Sale Price :</ion-label>
		  <ion-input type="text" formControlName="productsprice" [(ngModel)]="productsprice"></ion-input>
		</ion-item>
		
		<ion-card color="brand">
			<ion-label id="product-image">Product Image :</ion-label>
			<ion-slides pager paginationType="bullet" (click)="getPhoto()">
			  <ion-slide *ngFor="let image of pimage">
				<img [src]="image.src" />
			  </ion-slide>
			</ion-slides>		  
			
		</ion-card>
    </ion-list>
    
    <br>
    <button ion-button full type="submit" [disabled]="!product_edit_form.valid">Update</button>
  </form>
</ion-content>
