<ion-header>
  <ion-navbar color="brand">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  
    <ion-slides loop="true" autoplay="3000" pager>
      <ion-slide *ngFor="let number of [1,2,3]">
        <img src="./assets/images/{{number}}.jpg" />
      </ion-slide>
      
    </ion-slides>
	
	<ion-item-divider color="brand">SHOP NOW...</ion-item-divider>
	
	<ion-row wrap>
	  <ion-col no-padding col-6 *ngFor="let category of categories">  
		  <ion-card (tap)="itemTapped($event, category)">	
			  <img src="{{category.image.src}}" />
			  <div class="product-text">
				<h2 *ngIf="category.name" [innerHTML]="category.name"></h2>
			  </div>
		</ion-card>
	  </ion-col>
	</ion-row>
	
</ion-content>
