<ion-header>

  <ion-navbar color="brand">
    <ion-title>{{category.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-row wrap>
	  <ion-col no-padding col-6 *ngFor="let product of productsbycategory">  
		  <ion-card (tap)="itemTapped($event, category)">	
			  <img *ngIf="product.images[0].src" [src]="product.images[0].src" />
			  <div class="product-text">
				<h2 *ngIf="product.name" [innerHTML]="product.name"></h2>
			  </div>
		</ion-card>
	  </ion-col>
	</ion-row>
</ion-content>
