<ion-header>
  <ion-navbar color="brand">
	<button ion-button menuToggle >
	  <ion-icon name="menu"></ion-icon>
	</button>
	
	<ion-title *ngIf="orders">Orders</ion-title>
	
  </ion-navbar> 
</ion-header>

<ion-content>
  <ion-card *ngFor="let order of orders" (tap)="itemTapped($event, order)" color="brand"> 
    <ion-card-title><h2>Order Number : #{{order.id}} <button ion-button small>{{order.status}}</button></h2></ion-card-title>
    <ion-card-content no-padding> 
		<ion-row no-padding>
		   	   
		   <ion-col col-5>
			Payment
		   </ion-col>
		   <ion-col col-1>
			 :
		   </ion-col>
		   <ion-col col-6>
			{{order.payment_method_title}}
		   </ion-col>
		   
		   <ion-col col-5>
			Customer
		   </ion-col>
		   <ion-col col-1>
			 :
		   </ion-col>
		   <ion-col col-6>
			{{order.billing.first_name}} {{order.billing.last_name}} 
		   </ion-col>
		   
		   <ion-col col-5>
			Total
		   </ion-col>
		   <ion-col col-1>
			 :
		   </ion-col>
		   <ion-col col-3>
			{{order.total}}
		   </ion-col>
		   <ion-col col-3>
			( {{order.line_items.length}} Items )
		   </ion-col>
		   
		   <ion-col col-5>
			Date
		   </ion-col>
		   <ion-col col-1>
			 :
		   </ion-col>
		   <ion-col col-6>
			{{order.date_created.split('T')[0]}}
		   </ion-col>
		
		 </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll [enabled]="morePagesAvailable" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more orders ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
